
# Environment (development/production)
NODE_ENV=development


# MONGODB_URI=mongodb://localhost:27017/cookie_admin
MONGODB_URI=mongodb+srv://yashrajjagtap611:QByF6d7Yp4lwralK@cluster0.oha5ksa.mongodb.net/Tool?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=3fd909ed6654913e7a3160c9e6f3c88318fd4b695ffd15c30bd02b3e25896d66

PORT=3000

# Allowed Origins for CORS (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,chrome-extension://*

# Environment (development/production)
NODE_ENV=development

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

